<div id="<%= dom_id coffee_shop %>">
  <p>
    <strong>Name:</strong>
    <%= coffee_shop.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= coffee_shop.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= coffee_shop.phone %>
  </p>

</div>
